@model List<Topics>


@{
    string Titel = "";
    string path1 = "";
    Pager pager = new Pager();
    int pageNo = 0;
    int ToltalP = 0;
    int Next = 0;
    int Prev = 0;
    int subCategory = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        ToltalP = pager.TotalPages;
        Next = pageNo + 1;
        Prev = pageNo - 1;
        subCategory = pager.SubCategoryID;
    }
    if (subCategory == 6)
    {
        Titel = "Qasaeid and Hadrah";
    }
    else if (subCategory == 7)
    {
        Titel = "Lessons";
    }
    else if (subCategory == 4)
    {
        Titel = "Holiya";
    }
    else if (subCategory == 4)
    {
        Titel = "Speech";
    }
    else if (subCategory == 4)
    {
        Titel = "Jumaha";
    }
}

<style>

  

    audio {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        object-fit: contain;
    }


    .nav .nav-item a.active {
        background-color: transparent;
        color: var(--bs-primary) !important;
    }

    .nav .nav-item a.active::after {
            content: "";
            border-bottom: 4px solid var(--bs-primary);
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -1px;
            border-radius: 5px 5px 0 0;
        }

       
        
   

</style>
<div class="p-4 ">
    <p class="text-body">@_localization.Getkey("Picks to watch") </p>
</div>




<div class="container-fluid shadow">
 
    <div class="justify-content-between">
        <nav class="navbar navbar-expand-lg  px-4 py-3">
            <div class="container-xl">
                

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">

                    <div class="nav navbar-nav mx-lg-auto nav-underline">
                        <a class="nav-link focus-ring focus-ring-primary" href="@Url.Action("AllAudio", "Home", new {SubCategoryID=6})">@_localization.Getkey("Qasaeid")</a>
                        
                        <a class="nav-link"  href="@Url.Action("AllAudio", "Home", new {SubCategoryID=7})">@_localization.Getkey("Lesones")</a>
                        <a class="nav-link " href="#">@_localization.Getkey("General Events")</a>
                        <a class="nav-link " href="#">@_localization.Getkey("Selections")</a>


                    </div>

                </div>
            </div>
        </nav>
    </div>
 
    
</div>  

    @* ______________________________________________show image_______________________________ *@

<div class="container-fluid shadow text-center d-inline-flex">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="row mt-5">
                @foreach (var obj in Model.OrderBy(u => u.CreationDate))
                {
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 p-2">
                        <div class="card radius-10 border-start border-end border-0 border-3 border-info">
                            <div class="card-body p-0 shadow">

                                <div class="title text-center">
                                    <h6 class="mb-1 mt-1">
                                        @obj.Titel
                                        <a asp-controller="Home" asp-action="DownloadAudio" asp-route-path="@obj.MainFile">
                                            <i class="bi bi-download h5 "></i>
                                        </a>
                                    </h6>
                                </div>

                                <div class="text-center">
                                    <audio controls>

                                        <source src="@obj.MainFile" type="audio/ogg">
                                        <source src="@obj.MainFile" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <p class="small text-muted text-truncate">
                                        @obj.TopicDiscription

                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
    </div>

<div class="container mb-4">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 text-end mt-3">
            <a class="page-link " asp-area="" asp-controller="Home" asp-action="AllAudio" asp-route-SubCategoryID="@subCategory" asp-route-pg="@Prev">

                <img src="~/Files/Logo/prev.svg" class="" style="width:50px;" />
                @* @_localization.Getkey("Next") *@
            </a>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"></div>

        <div class="col-lg-4 col-md-4 col-sm-4 text-start mt-3 mb-5">
            <a class="page-link" asp-area="" asp-controller="Home" asp-action="AllAudio" asp-route-SubCategoryID="@subCategory" asp-route-pg="@Next">
                <img src="~/Files/Logo/Next.svg" class="" style="width:50px;" />
                @* @_localization.Getkey("Next") *@
            </a>

        </div>

    </div>
</div>


