@model List<Topics>


@{
    string Titel = "";
    string path1 = "";
    string url;
    Pager pager = new Pager();
    int pageNo = 0;
    int ToltalP = 0;
    int Next = 0;
    int Prev = 0;
    int subCategory = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        ToltalP = pager.TotalPages;
        Next = pageNo + 1;
        Prev = pageNo - 1;
        subCategory = pager.SubCategoryID;
    }
    if (subCategory == 6)
    {
        Titel = "Qasaeid";
    }
    else if (subCategory == 7)
    {
        Titel = "Lessones";
    }
    else if (subCategory == 4)
    {
        Titel = "Holiya";
    }
    else if (subCategory == 4)
    {
        Titel = "Speeches";
    }
    else if (subCategory == 4)
    {
        Titel = "Khoutap";
    }
}

<style>

  

    audio {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        object-fit: contain;
    }



</style>
<link href="~/css/NavBar.css" rel="stylesheet" />
<div class="p-4 ">
    <p class="text-body">@_localization.Getkey("Picks to watch") </p>
</div>


<nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item ">

                    <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="6" asp-action="AllAudio">@_localization.Getkey("Qasaeid")</a>

                </li>


                <li class="nav-item">
                    <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="7" asp-action="AllAudio">@_localization.Getkey("Lessones")</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="7" asp-action="AllAudio">@_localization.Getkey("Speeches")</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="7" asp-action="AllAudio">@_localization.Getkey("Khoutap")</a>
                </li>

            </ul>
        </div>

        <div class=" ms-5 d-inline-flex position-absolute top-50 start-0 translate-middle ">
          
            <p class="fw-bold text-white">@_localization.Getkey( Titel) </p>
            <i class="bi bi-music-note-beamed text-white h4 "></i>
        </div>


    </div>
</nav>




    @* ______________________________________________show image_______________________________ *@

<div class="container-fluid shadow text-center d-inline-flex">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="row mt-5">
                @foreach (var obj in Model.OrderBy(u => u.CreationDate))
                {
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 p-2">
                        <div class="card radius-10 border-start border-end border-0 border-3 border-info">
                            <div class="card-body p-0 shadow">

                                <div class="title text-center">
                                    <h6 class="mb-1 mt-1">
                                        @obj.Titel
                                        <a asp-controller="Home" asp-action="DownloadAudio" asp-route-path="@obj.MainFile">
                                            <i class="bi bi-download h5 "></i>
                                        </a>
                                    </h6>
                                </div>

                                <div class="text-center">
                                    <audio controls>

                                        <source src="@obj.MainFile" type="audio/ogg">
                                        <source src="@obj.MainFile" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <p class="small text-muted text-truncate">
                                        @obj.TopicDiscription

                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
    </div>

<div class="container mb-4">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 text-end mt-3">
            <a class="page-link " asp-area="" asp-controller="Home" asp-action="AllAudio" asp-route-SubCategoryID="@subCategory" asp-route-pg="@Prev">

                <img src="~/Files/Logo/prev.svg" class="" style="width:50px;" />
               
            </a>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"></div>

        <div class="col-lg-4 col-md-4 col-sm-4 text-start mt-3 mb-5">
            <a class="page-link" asp-area="" asp-controller="Home" asp-action="AllAudio" asp-route-SubCategoryID="@subCategory" asp-route-pg="@Next">
                <img src="~/Files/Logo/Next.svg" class="" style="width:50px;" />
              
            </a>

        </div>

    </div>
</div>

<script>
    function myFunction(id) {

        // $('#UseShipAddr').click(function () {

        $.ajax({
            //url: '/Customer/Home/AllAudio?SubCategoryID=7'
            url: '@Url.Action("AllAudio", "Home")',
            type: 'GET'
             data: { subCategoryID: id }
        });
        // });
    }
</script>
<script>

    function init() {
        document.getElementById("about").style.color = 'blue';
        // document.querySelectorAll('p')[0].style.color = 'blue';
    }
</script>