@* @model List<Topics>

@{
    int Leng = Model.Count();
    string Titel = "";
    string path1= "";
    Pager pager = new Pager();
    int pageNo = 0;
    int ToltalP = 0;
    int Next = 0;
    int Prev = 0;
    int subCategory = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        ToltalP = pager.TotalPages;
        Next = pageNo + 1;
        Prev = pageNo - 1;
        subCategory = pager.SubCategoryID;
    }
    if (subCategory == 2)
    {
        Titel = "Murals";
    }
    else if (subCategory == 3)
    {
        Titel = "Mouled";
    }
    else if (subCategory == 4)
    {
        Titel = "Holiya";
    }
    else if (subCategory == 5)
    {
        Titel = "Public Events";
    }
    else if (subCategory == 6)
    {
        Titel = "Tarahoum";
    }
} *@

@* 
<div class=" container-fluid shadow text-center d-inline-flex">
    <div class="col-lg-1 col-md-1 col-sm-1 text-end">
        <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <i class="bi bi-list h3"></i>
        </button>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 text-center">
        <h5 class="text-primary py-2">@_localization.Getkey("Images"+" "+@Titel)</h5>
    </div>
</div>

    <nav class="navbar">
        <div class="container-fluid">
            
            <div class="offcanvas offcanvas-end w-10" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary" asp-area="" asp-controller="Home" asp-action="AllImages" asp-route-SubCategoryID="2" asp-route-pg="@Prev">@_localization.Getkey("Murals")</a>
                            
                        </li>
                        <li class="nav-item mt-3">
                            <a class="nav-link btn btn-primary" asp-area="" asp-controller="Home" asp-action="AllImages" asp-route-SubCategoryID="3" asp-route-pg="@Prev">@_localization.Getkey("Mouled")</a>

                        </li>

                        <li class="nav-item mt-3">
                        <li class="nav-item mt-3">
                            <a class="nav-link btn btn-primary" asp-area="" asp-controller="Home" asp-action="AllImages" asp-route-SubCategoryID="4" asp-route-pg="@Prev">@_localization.Getkey("Holiya")</a>

                        </li>
                        

                        <li class="nav-item mt-3">
                            <a class="nav-link btn btn-primary" asp-area="" asp-controller="Home" asp-action="AllImages" asp-route-SubCategoryID="5" asp-route-pg="@Prev">@_localization.Getkey("Public Events")</a>

                        </li>

                        <li class="nav-item mt-3">
                            <a class="nav-link btn btn-primary" asp-area="" asp-controller="Home" asp-action="AllImages" asp-route-SubCategoryID="6" asp-route-pg="@Prev">@_localization.Getkey("Tarahoum")</a>

                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </nav>
   
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="row mt-3">
            
            @if (Leng > 0)
            {
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="card radius-10  border-3 border-info">
                        <div>
                            <img class="w-100" src="@Model[0].MainFile" height="280" />
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            <a asp-controller="Home" asp-action="DownloadAudio" asp-route-path="@Model[0].MainFile" type="button" class="btn btn-sm"> <i class="bi bi-download h4 "></i></a>

                            </div>

                        <small class="text-muted"> @Model[0].Titel</small>

                            <div class="btn-group">
                                <button asp-controller="Home" asp-action="DownloadAudio" asp-route-path="" type="button" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal0"> <i class="bi bi-display h4"></i></button>
                            <div class="modal" id="exampleModal0" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                                <img class="w-100" src="@Model[0].MainFile"/>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
                }
            

            @if (Leng > 1)
            {
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="card radius-10 border-3 border-info">
                    <div>
                        <img class="w-100" src="@Model[1].MainFile" height="280" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-controller="Home" asp-action="DownloadAudio" asp-route-path="@Model[1].MainFile" type="button" class="btn btn-sm"> <i class="bi bi-download h4 "></i></a>

                        </div>

                        <small class="text-muted"> @Model[1].Titel</small>

                        <div class="btn-group">
                            <button  class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal1"> <i class="bi bi-display h4"></i></button>
                            <div class="modal" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                           
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                                <img class="w-100" src="@Model[1].MainFile" />
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            }
            

            @if (Leng > 2)
            {
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card radius-10  border-3 border-info">
                    <div>
                        <img class="w-100" src="@Model[2].MainFile" height="280" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-controller="Home" asp-action="DownloadAudio" asp-route-path="@Model[2].MainFile" type="button" class="btn btn-sm"> <i class="bi bi-download h4 "></i></a>

                        </div>

                        <small class="text-muted"> @Model[2].Titel</small>

                        <div class="btn-group">
                            <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal2"> <i class="bi bi-display h4"></i></button>
                            <div class="modal" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                           
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                                <img class="w-100" src="@Model[2].MainFile" />
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                </div>
            }
          

            @if (Leng > 3)
            {
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="card radius-10  border-3 border-info">
                    <div>
                        <img class="w-100" src="@Model[3].MainFile" height="280" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-controller="Home" asp-action="DownloadAudio" asp-route-path="@Model[3].MainFile" type="button" class="btn btn-sm"> <i class="bi bi-download h4 "></i></a>

                        </div>

                        <small class="text-muted"> @Model[3].Titel</small>

                        <div class="btn-group">
                            <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal3"> <i class="bi bi-display h4"></i></button>
                            <div class="modal" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                           
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                                <img class="w-100" src="@Model[3].MainFile" />
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            }
           

        </div>


    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">

      

    </div>
</div>

    <div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 px-3">

    </div>
    </div>
   


<div class="container mb-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        @if (pager.TotalPages > 0)
        {
            <div class="col-lg-4 col-md-4 col-sm-4">
                <nav class="Pager1" aria-label="pagination example">
                    <ul class="pagination pagination-circle justify-content-center pagination-md">

                      
                        <li class="page-item">
                            <a class="page-link " asp-area="" asp-controller="Home" asp-action="AllImages" asp-route-SubCategoryID="@subCategory" asp-route-pg="@Prev">@_localization.Getkey("Prev")</a>
                        </li>

                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                        {
                            <li class="page-item @(pge == pager.CurrentPage ? "active": "")">
                                <a class="page-link" asp-area="" asp-controller="Home" asp-action="AllImages" asp-route-SubCategoryID="@subCategory" asp-route-pg="@pge">@pge</a>
                            </li>
                        }

                        <li class="page-item ">
                            <a class="page-link" asp-area="" asp-controller="Home" asp-action="AllImages" asp-route-SubCategoryID="@subCategory" asp-route-pg="@Next">@_localization.Getkey("Next")</a>
                        </li>
                   

                    </ul>
                </nav>
            </div>
        }

        <div class="col-lg-4 col-md-4 col-sm-4 "></div>
        </div>
</div>
<script>
  
    var modal = document.getElementById("myModal");

   
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

   
    var span = document.getElementsByClassName("close")[0];

  
    span.onclick = function() {
      modal.style.display = "none";
    }
</script>
 *@

    @* _________________________________________________________________ *@

    @model List<Topics>


@{
    int Leng = Model.Count();
    string Titel = "";
    string path1 = "";
    string url;
    Pager pager = new Pager();
    int pageNo = 0;
    int ToltalP = 0;
    int Next = 0;
    int Prev = 0;
    int subCategory = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        ToltalP = pager.TotalPages;
        Next = pageNo + 1;
        Prev = pageNo - 1;
        subCategory = pager.SubCategoryID;
    }
    if (subCategory == 2)
    {
        Titel = "Murals";
    }
    else if (subCategory == 3)
    {
        Titel = "Mouled";
    }
    else if (subCategory == 4)
    {
        Titel = "Holiya";
    }
    else if (subCategory == 5)
    {
        Titel = "Public Events";
    }
    else if (subCategory == 6)
    {
        Titel = "Tarahoum";
    }
}

<style>



    audio {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        object-fit: contain;
    }

</style>

<link href="~/css/NavBar.css" rel="stylesheet" />
<div class="p-4 ">
    <p class="text-body">@_localization.Getkey("Picks to Listen") </p>
</div>


<nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul class="navbar-nav ml-auto">

                @if (subCategory == 2)
                {
                    <li class="nav-item ">
                        <a class="nav-link active" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="2" asp-action="AllImages">@_localization.Getkey("Murals")</a>
                                                
                    </li>
                }
                else
                {
                    <li class="nav-item ">
                        <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="2" asp-action="AllImages">@_localization.Getkey("Murals")</a>

                    </li>
                }

                @if (subCategory == 3)
                {
                    <li class="nav-item ">
                        <a class="nav-link active" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="3" asp-action="AllImages">@_localization.Getkey("Mouled")</a>

                    </li>
                }
                else
                {
                    <li class="nav-item ">
                        <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="3" asp-action="AllImages">@_localization.Getkey("Mouled")</a>

                    </li>
                }


                @if (subCategory == 9)
                {
                    <li class="nav-item ">
                        <a class="nav-link active" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="9" asp-action="AllImages">@_localization.Getkey("Holiya")</a>

                    </li>
                }
                else
                {
                    <li class="nav-item ">
                        <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="9" asp-action="AllImages">@_localization.Getkey("Holiya")</a>

                    </li>
                }

                @if (subCategory == 10)
                {
                    <li class="nav-item ">
                        <a class="nav-link active" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="10" asp-action="AllImages">@_localization.Getkey("Public Events")</a>

                    </li>
                }
                else
                {
                    <li class="nav-item ">
                        <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="10" asp-action="AllImages">@_localization.Getkey("Public Events")</a>

                    </li>
                }
               

            </ul>
        </div>

        <div class=" ms-5 d-inline-flex position-absolute top-50 start-0 translate-middle ">

            <p class="fw-bold text-white">@_localization.Getkey(Titel) </p>
            <i class="bi bi-music-note-beamed text-white h4 "></i>
        </div>


    </div>
</nav>




@* ______________________________________________show image_______________________________ *@

<div class="col-lg-1 col-md-1 col-sm-1"></div>
<div class="col-lg-10 col-md-10 col-sm-10 px-4 mt-3">
   @*  <div class="row mt-3 px-5"> *@

        @if (Leng > 0)
        {
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card radius-10  border-3 border-info">
                    <div>
                        <img class="w-100" src="@Model[0].MainFile" height="350" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-controller="Home" asp-action="DownloadAudio" asp-route-path="@Model[0].MainFile" type="button" class="btn btn-sm"> <i class="bi bi-download h4 "></i></a>

                        </div>

                        <small class="text-muted"> @Model[0].Titel</small>

                        <div class="btn-group">
                            <button asp-controller="Home" asp-action="DownloadAudio" asp-route-path="" type="button" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal0"> <i class="bi bi-display h4"></i></button>
                            <div class="modal" id="exampleModal0" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img class="w-100" src="@Model[0].MainFile" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }


        @if (Leng > 1)
        {
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card radius-10 border-3 border-info">
                    <div>
                    <img class="w-100" src="@Model[1].MainFile" height="350" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-controller="Home" asp-action="DownloadAudio" asp-route-path="@Model[1].MainFile" type="button" class="btn btn-sm"> <i class="bi bi-download h4 "></i></a>

                        </div>

                        <small class="text-muted"> @Model[1].Titel</small>

                        <div class="btn-group">
                            <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal1"> <i class="bi bi-display h4"></i></button>
                            <div class="modal" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img class="w-100" src="@Model[1].MainFile" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }


        @if (Leng > 2)
        {
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card radius-10  border-3 border-info">
                    <div>
                    <img class="w-100" src="@Model[2].MainFile" height="350" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-controller="Home" asp-action="DownloadAudio" asp-route-path="@Model[2].MainFile" type="button" class="btn btn-sm"> <i class="bi bi-download h4 "></i></a>

                        </div>

                        <small class="text-muted"> @Model[2].Titel</small>

                        <div class="btn-group">
                            <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal2"> <i class="bi bi-display h4"></i></button>
                            <div class="modal" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img class="w-100" src="@Model[2].MainFile" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }


        @if (Leng > 3)
        {
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card radius-10  border-3 border-info">
                    <div>
                    <img class="w-100" src="@Model[3].MainFile" height="350" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-controller="Home" asp-action="DownloadAudio" asp-route-path="@Model[3].MainFile" type="button" class="btn btn-sm"> <i class="bi bi-download h4 "></i></a>

                        </div>

                        <small class="text-muted"> @Model[3].Titel</small>

                        <div class="btn-group">
                            <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal3"> <i class="bi bi-display h4"></i></button>
                            <div class="modal" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img class="w-100" src="@Model[3].MainFile" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }


    </div>

@* 
</div>
 *@<div class="col-lg-1 col-md-1 col-sm-1"></div>





@* __________________________________________________________________________ *@
<div class="container mb-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        @if (pager.TotalPages > 0)
        {
            <div class="col-lg-4 col-md-4 col-sm-4">
                <nav class="Pager1" aria-label="pagination example">
                    <ul class="pagination pagination-circle justify-content-center pagination-md">


                        <li class="page-item">
                            <a class="page-link " asp-area="" asp-controller="Home" asp-action="AllImages" asp-route-SubCategoryID="@subCategory" asp-route-pg="@Prev">@_localization.Getkey("Prev")</a>
                        </li>

                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                        {
                            <li class="page-item @(pge == pager.CurrentPage ? "active": "")">
                                <a class="page-link" asp-area="" asp-controller="Home" asp-action="AllImages" asp-route-SubCategoryID="@subCategory" asp-route-pg="@pge">@pge</a>
                            </li>
                        }

                        <li class="page-item ">
                            <a class="page-link" asp-area="" asp-controller="Home" asp-action="AllImages" asp-route-SubCategoryID="@subCategory" asp-route-pg="@Next">@_localization.Getkey("Next")</a>
                        </li>


                    </ul>
                </nav>
            </div>
        }

        <div class="col-lg-4 col-md-4 col-sm-4 "></div>
    </div>
</div>

<script>
    function myFunction(id) {

        // $('#UseShipAddr').click(function () {

        $.ajax({
            //url: '/Customer/Home/AllAudio?SubCategoryID=7'
            url: '@Url.Action("AllAudio", "Home")',
            type: 'GET'
                 data: { subCategoryID: id }
        });
        // });
    }
</script>
<script>

    function init() {
        document.getElementById("about").style.color = 'blue';
        // document.querySelectorAll('p')[0].style.color = 'blue';
    }
</script>

<script>
    $(document).ready(function () {
        $("ul.navbar-nav > li").click(function (e) {
            $("ul.navbar-nav > li").removeClass("active");
            $(this).addClass("active");
        });
    });
</script>
