@model List<Topics>


@{
    string Titel = "";
    string path1 = "";
    Pager pager = new Pager();
    int pageNo = 0;
    int ToltalP = 0;
    int Next = 0;
    int Prev = 0;
    int subCategory = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        ToltalP = pager.TotalPages;
        Next = pageNo + 1;
        Prev = pageNo - 1;
        subCategory = pager.SubCategoryID;
    }
    if (subCategory == 6)
    {
        Titel = "Qasaeid and Hadrah";
    }
    else if (subCategory == 7)
    {
        Titel = "Lessons";
    }
    else if (subCategory == 4)
    {
        Titel = "Holiya";
    }
    else if (subCategory == 4)
    {
        Titel = "Speech";
    }
    else if (subCategory == 4)
    {
        Titel = "Jumaha";
    }
}

<style>

  

    audio {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        object-fit: contain;
    }


    .nav .nav-item a.active {
        background-color: transparent;
        color: var(--bs-primary) !important;
    }

    .nav .nav-item a.active::after {
            content: "";
            border-bottom: 4px solid var(--bs-primary);
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -1px;
            border-radius: 5px 5px 0 0;
        }

       
        
   

</style>
<div class="p-4 ">
    <p class="text-body">@_localization.Getkey("Picks to Reading") </p>
</div>




 <div class="row shadow">
 
    <div class="justify-content-between">
        <nav class="navbar navbar-expand-lg  px-0 py-3">
            <div class="container-xl">
                

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">

                    <div class="navbar-nav mx-lg-auto nav-underline">

                        @if (subCategory == 8)
                        {
                            <a class="nav-link nav-item active" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="8" asp-action="AllPDF">@_localization.Getkey("Speeches")</a>
                        }
                        else
                        {
                            <a class="nav-link nav-item" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="8" asp-action="AllPDF">@_localization.Getkey("Speeches")</a>
                        }

                        @if (subCategory == 15)
                        {
                            <a class="nav-link nav-item active" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="15" asp-action="AllPDF">@_localization.Getkey("Khoutap")</a>
                        }
                        else
                        {
                            <a class="nav-link nav-item" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="15" asp-action="AllPDF">@_localization.Getkey("Khoutap")</a>
                        }

                        @if (subCategory == 16)
                        {
                            <a class="nav-link nav-item active" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="16" asp-action="AllPDF">@_localization.Getkey("Books")</a>
                        }
                        else
                        {
                            <a class="nav-link nav-item" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="16" asp-action="AllPDF">@_localization.Getkey("Books")</a>
                        }


                    </div>

                </div>
            </div>
        </nav>
    </div>
 
    
</div>  

    @* ______________________________________________show image_______________________________ *@

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 mt-5">

        @foreach (var obj in Model.OrderByDescending(u => u.CreationDate))
                {
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 p-2">
                        <div class="card radius-10 border-start border-end border-0 border-3 border-info">
                            <div class="card-body p-0 shadow">

                                <div class="title text-center">
                                    <h6 class="mb-1 mt-1">
                                        @obj.Titel
                                        <a asp-controller="Home" asp-action="DownloadAudio" asp-route-path="@obj.MainFile">
                                            <i class="bi bi-download h5 "></i>
                                        </a>
                                    </h6>
                                </div>
                            @* <i class="bi bi-file-earmark-pdf"></i> *@
                                <div class="text-center">
                                <img src="/Files/Logo/PDF-Avatar.svg" width="100" height="75">
                                    <p class="small text-muted text-truncate">
                                        @obj.TopicDiscription

                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                }
           

        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
    </div>

<div class="container mb-4">
   @*  <div class="row"> *@
        <div class="col-lg-4 col-md-4 col-sm-4 text-end mt-3">
            <a class="page-link " asp-area="" asp-controller="Home" asp-action="AllAudio" asp-route-SubCategoryID="@subCategory" asp-route-pg="@Prev">

                <img src="~/Files/Logo/prev.svg" class="" style="width:50px;" />
                @* @_localization.Getkey("Next") *@
            </a>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
       
        <div class="col-lg-4 col-md-4 col-sm-4 text-start mt-3 mb-5">
            <a class="page-link" asp-area="" asp-controller="Home" asp-action="AllAudio" asp-route-SubCategoryID="@subCategory" asp-route-pg="@Next">
                <img src="~/Files/Logo/Next.svg" class="" style="width:50px;" />
                @* @_localization.Getkey("Next") *@
            </a>

        </div>

  @*   </div> *@
</div>
