@model List<Topics>


@{
    string Titel = "";
    string path1= "";
    Pager pager = new Pager();
    int pageNo = 0;
    int ToltalP = 0;
    int Next = 0;
    int Prev = 0;
    int subCategory = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        ToltalP = pager.TotalPages;
        Next = pageNo + 1;
        Prev = pageNo - 1;
        subCategory = pager.SubCategoryID;
    }
    if (subCategory == 2)
    {
        Titel = "Murals";
    }
    else if (subCategory == 3)
    {
        Titel = "Mouled";
    }
    else if (subCategory == 4)
    {
        Titel = "Holiya";
    }
    else if (subCategory == 5)
    {
        Titel = "Public Events";
    }
    else if (subCategory == 6)
    {
        Titel = "Tarahoum";
    }
}

<style>
     .sunnave{
        transition: all 0.2s;
        position: relative;
     
    }

        .sunnave:hover:before {
        content:'';
        height: 2px;
        width: 100%;
        background-color: greenyellow;
        position:absolute;
        bottom:0;
        left:0;
    }

        .sunnave:active {
                content: '';
                height: 2px;
                width: 100%;
                background-color: greenyellow;
                position: absolute;
                bottom: 0;
                left: 0;
            }

    
   
</style>
<div class="p-4 ">
    <p class="text-body">@_localization.Getkey("Picks to watch") </p>
</div>

<div class="container-fluid shadow">
   
    <div class="justify-content-between">
    <nav class="navbar navbar-expand-lg  px-0 py-3">
        <div class="container-xl">
            
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse" id="navbarCollapse">

                    <div class="navbar-nav mx-lg-auto nav-underline">
                        @if (subCategory == 4)
                        {
                            <a class="nav-link nav-item active" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="4" asp-action="AllVideos">@_localization.Getkey("Holiya Events")</a>
                        }
                        else 
                        {
                            <a class="nav-link nav-item" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="4" asp-action="AllVideos">@_localization.Getkey("Holiya Events")</a>
                        }

                        @if (subCategory == 5)
                        {
                            <a class="nav-link nav-item active" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="5" asp-action="AllVideos">@_localization.Getkey("Mouled Events")</a>
                        }
                        else
                        {
                            <a class="nav-link nav-item" asp-area="Customer" asp-controller="Home" asp-route-SubCategoryID="5" asp-action="AllVideos">@_localization.Getkey("Mouled Events")</a>
                        }
                       
                      
                        
                        <a class="nav-item nav-link " href="#">@_localization.Getkey("General Events")</a>
                        <a class="nav-item nav-link " href="#">@_localization.Getkey("Selections")</a>

                        
                </div>
              
            </div>
        </div>
    </nav>
    </div>
    
@*     <div class="col-lg-1 col-md-1 col-sm-1 text-end">
        <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <i class="bi bi-list h3"></i>
        </button>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 text-center">
        <h5 class="text-primary py-2">@_localization.Getkey("Images"+" "+@Titel)</h5>
    </div> *@
</div>

    @* ______________________________________________show image_______________________________ *@
    <div class="container-fluid  text-center d-inline-flex">
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="row mt-3">
            @foreach (var obj in Model.OrderBy(u => u.CreationDate))
            {
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="card radius-10 border  shadow">
                        <div class="box-part text-center">

                            <small class="text-body"> @obj.Titel</small>

                            

                            <div class="mt-2">

                                <video width="295" height="166" stop controls >
                                    <source src="@obj.MainFile" type="video/mp4">
                                  
                                </video>

                             

                            </div>

                            <small class="text-muted"> @obj.TopicDiscription</small>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Home" asp-action="DownloadAudio" asp-route-path="@obj.MainFile" type="button" class="btn btn-sm"> <i class="bi bi-download h4 "></i></a>

                                </div>

                                

                                <div class="btn-group">
                                    <button asp-controller="Home" asp-action="DownloadAudio" asp-route-path="" type="button" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="bi bi-display h4"></i></button>
                                    @{
                                        path1 = @obj.MainFile;
                                    }
                                </div>


                            </div>
                            <!-- Button trigger modal -->
                            <!-- Modal -->


                        </div>
                    </div>
                </div>
            }
        </div>

       
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">
      
            @* <a class="page-link" asp-area="" asp-controller="Home" asp-action="AllImages" asp-route-SubCategoryID="@subCategory" asp-route-pg="@Next">@_localization.Getkey("Next")</a> *@
       
    </div>
</div>


<div class="container mb-4">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 text-end mt-3">
            <a class="page-link " asp-area="" asp-controller="Home" asp-action="AllVideos" asp-route-SubCategoryID="@subCategory" asp-route-pg="@Prev">

                <img src="~/Files/Logo/prev.svg" class="" style="width:50px;" />
                @* @_localization.Getkey("Next") *@
            </a>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"></div>

        <div class="col-lg-4 col-md-4 col-sm-4 text-start mt-3 mb-5">
            <a class="page-link" asp-area="" asp-controller="Home" asp-action="AllVideos" asp-route-SubCategoryID="@subCategory" asp-route-pg="@Next">
                <img src="~/Files/Logo/Next.svg" class="" style="width:50px;" />
                @* @_localization.Getkey("Next") *@
            </a>

        </div>

    </div>
</div>
