@model List<Topics>

@{
    Pager pager = new Pager();
    int pageNo = 0;
    int ToltalP = 0;
    int Next = 0;
    int Prev = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        ToltalP = pager.TotalPages;
        Next = pageNo + 1;
        Prev = pageNo - 1;
    }
}


<div class="container-fluid">
   
            <div class="row shadow mt-1">
                <div class="col-12 text-center">
                    <h4 class="text-primary py-2">@_localization.Getkey("News List")</h4>
                </div>
            </div>

 


   @*  https://www.youtube.com/watch?v=X3Jc5UfGhhE
    https://www.youtube.com/watch?v=VF6wlRshzDQ
  *@
        <div class="card-body mt-3">

            <div class="container">
                <div class="row d-flex flex-row">
                    @foreach (var obj in Model.OrderBy(u => u.CreationDate))
                    {
                       
                    
                    <div class="col-lg-4 col-sm-4">
                        <div class="card radius-10  border-2 border-info">
                                <div class="card-body">

                                    <img src="@obj.MainFile" alt="" class="w-100 card-img-top" height="450">
                                    <div class="p-4">
                                        <h5 class="mb-0">@obj.Titel</h5>
                                        <p class="small text-muted">@obj.TopicDiscription</p>
                                        <ul class="social mb-0 list-inline text-start mt-3">
                                        <li class="text-end">

                                            <a asp-controller="Home" asp-action="GuidanceDetails" asp-route-Id="@obj.TopicId" class="btn-success btn" type="button">
                                            التفاصيل
                                            </a>

                                        </li>

                                        <li>

                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    
                    }
                </div>
            </div>

       
    </div>
    

        @* ________________________Pagination_________________ *@
        <div class="container mb-4">
            <div class="row">
                <div class="col-4"></div>
                @if (pager.TotalPages > 0)
                {
                    <div class="col-4 mb-3">
                        <nav class="Pager1" aria-label="pagination example">
                        <ul class="pagination pagination-circle justify-content-center pagination-md">
                           
                               @*  <li class="page-item ">
                                <a class="page-link" asp-area="" asp-controller="Home" asp-route-SubCategoryID="1"  asp-action="Guidance" asp-route-pg="1">@_localization.Getkey("First")</a>
                                </li> *@
                                <li class="page-item ">
                                <a class="page-link " asp-area="" asp-controller="Home" asp-route-SubCategoryID="1" asp-action="Guidance" asp-route-pg="@Prev">@_localization.Getkey("Prev")</a>
                                </li>
                               
                                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                                {
                                    <li class="page-item @(pge == pager.CurrentPage ? "active": "")">
                                    <a class="page-link" asp-area="" asp-controller="Home" asp-route-SubCategoryID="1" asp-action="Guidance" asp-route-pg="@pge">@pge</a>
                                    </li>
                                }
                          
                                <li class="page-item ">
                                <a class="page-link" asp-area="" asp-controller="Home" asp-route-SubCategoryID="1" asp-action="Guidance" asp-route-pg="@Next">@_localization.Getkey("Next")</a>
                                </li>
                               @*  <li class="page-item ">
                                <a class="page-link " asp-area="" asp-controller="Home" asp-route-SubCategoryID="1" asp-action="Guidance" asp-route-pg="@ToltalP">@_localization.Getkey("Last")</a>
                                </li> *@

                            </ul>
                        </nav>
                    </div>
                }


                <div class="col-4"></div>

            </div>
        </div>
        @* _________________________________________ *@
  @*   </div> *@
</div>



@section Scripts {


}
