@model RequestDetailsVM

@* <div class="modal fade modal-dialog modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark ">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            </div>
            <div class="modal-body">
                <form asp-action="GuidanceDetails" asp-route-Id="@Model.topic.TopicId">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="topic.Titel"></label>
                        <input asp-for="topic.Titel" class="form-control" value="@Model.topic.Titel" disabled />
                    </div>
                </form>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> *@

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@_localization.Getkey("Topic List")</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        @if(Model.topic != null){
        <div class="row pb-3">

                <div class="form-floating py-2 col-4">
                    <input asp-for="topic.Titel" class="form-control" value="@Model.topic.Titel" disabled/>
                    <label asp-for="topic.Titel" class="ms-2"></label>
                    <span asp-validation-for="topic.Titel" class="text-danger"></span>
                </div>

            <div class="form-floating py-2 col-4">
                <input  class="form-control" value="@Model.topic.Category.ArabicName" disabled />
                <label class="ms-2">Categroy</label>
               
            </div>

                <div class="form-floating py-2 col-4">
                    <input class="form-control" value="@Model.topic.TopicDiscription" disabled />
                    <label class="ms-2">Description</label>
                  
                </div>
           
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>

                <tr>
                    <th>@_localization.Getkey("File Name")</th>
                    <th>@_localization.Getkey("File Type")</th>
                   
                </tr>

            </thead>
            <tbody>
                @foreach (var obj in Model.AttachmentsList.OrderBy(u => u.AttachmentSetDate))
                {
                    <tr>
                        <td>@obj.FileName</td>
                        <td>@obj.FileType</td>
                        <td></td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Topic" asp-action="DownloadFile" asp-route-id="@obj.FileId" class="btn btn-primary rounded text-center">
                                    <i class="bi bi-download h4"></i>
                                </a>
                               
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>
 