@model RequestDetailsVM


@{
    Pager pager = new Pager();
    int pageNo = 0;
    int ToltalP = 0;
    int Next = 0;
    int Prev = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        ToltalP = pager.TotalPages;
        Next = pageNo + 1;
        Prev = pageNo - 1;
    }
}

<
<div class="container-fluid">
   
            <div class="row shadow mt-1">
                <div class="col-12 text-center">
                    <h2 class="text-primary py-2">@_localization.Getkey("Guidance List")</h2>
                </div>
            </div>

 


   @*  https://www.youtube.com/watch?v=X3Jc5UfGhhE
    https://www.youtube.com/watch?v=VF6wlRshzDQ
  *@
        <div class="card-body p-4 ">

            <div class="container">
                <div class="row d-flex flex-row">
                    @foreach (var obj in Model.TopicList.OrderBy(u => u.CreationDate))
                    {
                       
                    
                    <div class="col-lg-4 col-sm-4">
                            <div class="card shadow-sm border-0 rounded">
                                <div class="card-body p-0">

                                    <img src="@obj.MainFile" alt="" class="w-100 card-img-top">
                                    <div class="p-4">
                                        <h5 class="mb-0">@obj.Titel</h5>
                                        <p class="small text-muted">@obj.TopicDiscription</p>
                                        <ul class="social mb-0 list-inline text-start mt-3">
                                        <li class="text-end">

                                            <a asp-controller="Home" asp-action="GuidanceDetails" asp-route-Id="@obj.TopicId" class="btn-success btn" type="button">
                                            التفاصيل
                                            </a>
                                           
                                            
                                        </li>

                                        <li>

                                            <!-- Button trigger modal -->
                                            <button asp-controller="Home" asp-action="GuidanceDetails" asp-route-Id="@obj.TopicId" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                demo modal
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            <h1 class="modal-title fs-5 text-end" id="exampleModalLabel">Modal title</h1>
                                                           
                                                        </div>
                                                        <div class="modal-body">


                                                          @* ______________________________________ *@

                                                            <div class="card shadow border-0 my-4">
                                                                <div class="card-header bg-secondary bg-gradient ml-0 py-3">
                                                                    <div class="row">
                                                                        <div class="col-12 text-center">
                                                                            <h3 class="text-white py-2">@obj.Titel</h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body p-4">
                                                                    @if (@obj != null)
                                                                    {

                                                                        <div class="row pb-3">

                                                                            <div class="form-floating py-2 col-4">
                                                                                <input class="form-control" value="@obj.Category.ArabicName" disabled />
                                                                                <label class="ms-2">Categroy</label>

                                                                            </div>

                                                                            <div class="form-floating py-2 col-8">
                                                                                <input class="form-control" value="@obj.TopicDiscription" disabled />
                                                                                <label class="ms-2">Description</label>

                                                                            </div>

                                                                        </div>



                                                                       @*  <div class="row d-flex flex-row">
                                                                            <div class="col-12 text-end">
                                                                                <h5 class=" py-2">@_localization.Getkey("Download Files")</h5>
                                                                            </div>
                                                                            @foreach (var obj1 in Model.AttachmentsList.OrderBy(u => u.AttachmentSetDate))
                                                                            {

                                                                                <div class="col-lg-3 col-sm-3">
                                                                                    <div class="card  border-0 rounded">
                                                                                        <div class="card-body p-0">
                                                                                            @obj1.FileName

                                                                                            <a asp-controller="Home" asp-action="DownloadFile" asp-route-id="@obj1.FileId" class="btn btn-primary rounded text-center">
                                                                                                <i class="bi bi-download h6"></i>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            }
                                                                        </div>
 *@
                                                                    }
                                                                </div>
                                                            </div>
                                                          @* _________________________________________ *@


                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    
                    }
                </div>
            </div>

       
    </div>
    

        @* ________________________Pagination_________________ *@
        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                @if (pager.TotalPages > 0)
                {
                    <div class="col-4">
                        <nav class="Pager1" aria-label="pagination example">
                            <ul class="pagination pagination-circle justify-content-center pagination-lg">
                                @* @if (pager.CurrentPage >= 1)
                            { *@
                                <li class="page-item ">
                                    <a class="page-link" asp-area="" asp-controller="Home" asp-action="Guidance" asp-route-pg="1">First</a>
                                </li>
                                <li class="page-item ">
                                    <a class="page-link " asp-area="" asp-controller="Home" asp-action="Guidance" asp-route-pg="@Prev">Prev</a>
                                </li>
                                @*   } *@
                                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                                {
                                    <li class="page-item @(pge == pager.CurrentPage ? "active": "")">
                                        <a class="page-link" asp-area="" asp-controller="Home" asp-action="Guidance" asp-route-pg="@pge">@pge</a>
                                    </li>
                                }
                                @*  @if( pager.TotalPages>0)
                            { *@
                                <li class="page-item ">
                                    <a class="page-link" asp-area="" asp-controller="Home" asp-action="Guidance" asp-route-pg="@Next">Next</a>
                                </li>
                                <li class="page-item ">
                                    <a class="page-link " asp-area="" asp-controller="Home" asp-action="Guidance" asp-route-pg="@ToltalP">Last</a>
                                </li>
                                @* } *@

                            </ul>
                        </nav>
                    </div>
                }





                <div class="col-4"></div>

            </div>
        </div>
        @* _________________________________________ *@
  @*   </div> *@
</div>



@section Scripts {


}
