@model List<Topics>
@{
    Pager pager = new Pager();
    int pageNo = 0;
    int ToltalP = 0;
    int Next = 0;
    int Prev = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        ToltalP = pager.TotalPages;
        Next = pageNo + 1;
        Prev = pageNo - 1;
    }
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@_localization.Getkey("Topic List")</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">

            <div class="col-6 text-end">
                <a asp-area="Admin" asp-controller="Topic" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> @_localization.Getkey("Add New Topic")
                </a>
            </div>

            <div class="col-6">
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>

                <tr>
                    <th>@_localization.Getkey("Titel")</th>
                    <th>@_localization.Getkey("TopicClassification")</th>
                    <th>@_localization.Getkey("State")</th>
                    <th>@_localization.Getkey("Active")</th>
                    <th>@_localization.Getkey("CreationDate")</th>

                </tr>

            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.CreationDate))
                {
                    <tr>
                        <td>@obj.Titel</td>
                        <td>@obj.Category.ArabicName</td>
                        <td>@obj.TopicsStates.ArabicName</td>
                        <td>@obj.Active</td>
                        <td>@obj.CreationDate</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                               @*  <a asp-controller="Topic" asp-action="DownloadFile" asp-route-id="@obj.TopicId" class="btn btn-primary rounded text-center">
                                    <i class="bi bi-download h4"></i>
                                </a> *@
                                <a asp-controller="Topic" asp-action="Upsert" asp-route-id="@obj.TopicId" class="btn btn-primary mx-2 rounded">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        @if (pager.TotalPages > 0)
        {
            <div class="col-lg-4 col-md-4 col-sm-4">
                <nav class="Pager1" aria-label="pagination example">
                    <ul class="pagination pagination-circle justify-content-center pagination-md">


                        <li class="page-item">
                            <a class="page-link " asp-area="Admin" asp-controller="Topic" asp-action="Index"  asp-route-pg="@Prev">@_localization.Getkey("Prev")</a>
                        </li>

                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                        {
                            <li class="page-item @(pge == pager.CurrentPage ? "active": "")">
                                <a class="page-link" asp-area="Admin" asp-controller="Topic" asp-action="Index" asp-route-pg="@pge">@pge</a>
                            </li>
                        }

                        <li class="page-item ">
                            <a class="page-link" asp-area="Admin" asp-controller="Topic" asp-action="Index" asp-route-pg="@Next">@_localization.Getkey("Next")</a>
                        </li>


                    </ul>
                </nav>
            </div>
        }



        <div class="col-lg-4 col-md-4 col-sm-4 "></div>

    </div>
</div>
@section Scripts{
  
}
