 <!-- Start Stepper HTML -->
@model TopicVM
 <div class="container mt-5">
    <div class="row">
        <form  enctype="multipart/form-data" method="post">
        <div class="accordion" id="accordionExample">
            <div class="steps">
                <progress id="progress" value=0 max=100></progress>
                <div class="step-item">
                    <button id="your-id" class="step-button text-center" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        1
                    </button>
                    <div class="step-title">
                        قيد اعداد
                    </div>
                </div>
                <div class="step-item">
                    <button id="your-id" type="button" class="step-button text-center collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2
                    </button>
                    <div class="step-title">
                        اعتماد
                    </div>
                </div>
                <div class="step-item">
                    <button id="your-id" type="button" class="step-button text-center collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3
                    </button>
                    <div class="step-title">
                        تصحيح لغوي
                    </div>
                </div>

                <div class="step-item">
                    <button id="your-id" type="button" class="step-button text-center collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        4
                    </button>
                    <div class="step-title">
                        اعتماد تصميم
                    </div>
                </div>

                <div class="step-item">
                    <button id="your-id" type="button" class="step-button text-center collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        5
                    </button>
                    <div class="step-title">
                        نشر
                    </div>
                </div>
            </div>


        </div>

    </form>
</div>
</div>
<!-- End Start Stepper HTML -->

<div class="card shadow border-0 ">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.topic.TopicId != Guid.Empty  ? @_localization.Getkey("Update") : @_localization.Getkey("Create")) @_localization.Getkey("Topic")</h2>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="topic.TopicId" hidden />

            <div class="row">
                <div class="col-12">
                    <div class="border p-3">

                        <div class="row">
                        <div class="form-floating py-2 col-4">
                                <input asp-for="topic.Titel" class="form-control border-0 shadow" />
                                <label asp-for="topic.Titel" class="ms-2"></label>
                                <span asp-validation-for="topic.Titel" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-4">

                                <select asp-for="topic.TopicClassification" asp-items=@(new List<SelectListItem> { new SelectListItem {Text="توجيه",Value="توجيه" }
                                    ,new SelectListItem {Text="درس فيديو",Value="درس فيديو" } ,new SelectListItem {Text="درس صوت",Value="درس صوت" }
                                    ,new SelectListItem {Text="اعلان",Value="اعلان" } ,new SelectListItem {Text="صور",Value="صور" }} ) class="form-select">
                                <option disabled selected></option>
                            </select>
                                <label asp-for="topic.TopicClassification" class="ms-2"></label>
                        </div>
                            <div class="form-floating py-2 col-4">

                                <select asp-for="topic.State" asp-items=@(new List<SelectListItem> { new SelectListItem {Text="قيد اعداد",Value="قيد اعداد" }
                                        ,new SelectListItem {Text="اعتماد",Value="اعتماد" } ,new SelectListItem {Text="تصحيح لغوي",Value="تصحيح لغوي" }
                                        ,new SelectListItem {Text="اعتماد تصميم",Value="اعتماد تصميم" } ,new SelectListItem {Text="نشر",Value="نشر" }} ) class="form-select">
                                    <option disabled selected></option>
                                </select>
                                <label asp-for="topic.State" class="ms-2"></label>
                            </div>

                       
                        </div>
                        <div class="row">
                        <div class="form-floating py-2 col-12">
                                <label asp-for="topic.TopicDiscription" class="ms-2 text-muted mb-1"></label>
                                <textarea asp-for="topic.TopicDiscription" class="form-control"></textarea>
                        </div>
                        </div>

                        <div class="row">
                        
                        <div class="form-floating py-2 col-4">
                                <input asp-for="topic.FileSize" class="form-control border-0 shadow" />
                                <label asp-for="topic.FileSize" class="ms-2"></label>
                       
                        </div>

                        <div class="form-floating py-2 col-4">

                                <select asp-for="topic.Active" asp-items=@(new List<SelectListItem> { new SelectListItem {Text="نعم",Value="نعم" }
                                   ,new SelectListItem {Text="لا",Value="لا" }} ) class="form-select">
                                <option disabled selected></option>
                            </select>
                                <label asp-for="topic.Active" class="ms-2"></label>
                        </div>
                            <div class="form-floating py-2 col-4">
<<<<<<< HEAD
                                <input type="Date" asp-for="topic.CreationDate" class="form-control" />
=======
                                <input type="dateonly" asp-for="topic.CreationDate" class="form-control" />
>>>>>>> 473475ed1fc206a4e2e8d1ef5be008578f0f3e39
                                <label asp-for="topic.CreationDate" class="ms-2"></label>
                                @* <span asp-validation-for="Brother.BirthDate" class="text-danger"></span>*@
                            </div>
                        </div>


                        <div class="row">

                            @if (Model.topic.TopicId != Guid.Empty && Model.topic.TopicFile != null)
                            {
                               
                                <div class="custom-file mb-3 col-4">
                                <label  style="cursor: pointer; float:right" class="">
                                    : الملف الحالي

                                        topic.TopicFile
                                   @* <input asp-for="topic.TopicFile" class="form-control border-0 shadow mb-5" disabled>*@
                                   
                                </label>
                               

                             
                                 @* <label asp-for="topic.TopicFile" style="cursor: pointer; float:right" class="mr-5">
                                تعديل الملف الحالي
                                        <input asp-for="topic.TopicFile" type="file" onchange="loadFile(event)" class="form-control mr-5 mb-5">
                                 </label>*@

                                    @*<label asp-for="topic.TopicFile" style="cursor: pointer; float:left">

                                    </label>*@
                                    <input asp-for="topic.TopicFile" type="file" onchange="loadFile(event)" class="mr-5">
                                </div>
                                
                            }
                            else
                            {
                                <div class="custom-file mb-3 col-4">

                                    <label asp-for="topic.TopicFile" style="cursor: pointer; float:left">
                                     
                                    </label>
                                    <input asp-for="topic.TopicFile" type="file"  onchange="loadFile(event)" >

                                </div>
                            }


                        </div>

                        

                    </div>
                </div>

            </div>

<<<<<<< HEAD
            <div class="row">
            @if (Model.topic.TopicId != Guid.Empty)
            {
                <div class="custom-file mb-3 col-4">
                        <label asp-for="topic.TopicFile" style="cursor: pointer; float:left">
                            <h4>@Model.topic.TopicFile</h4>
                        </label>
                        <input asp-for="topic.TopicFile" type="file" onchange="loadFile(event)">
                </div>
            }
            else
            {

                    <div>
                        <h5>File upload progress</h5>

                        <input asp-for="topic.TopicFile" type="file" id="file-uploader">

                        <div id="feedback">
                        </div>
                        <label id="progress-label" for="progress"></label>
                        <progress id="progress" value="0" max="100"> </progress>

                   </div>

                  


                   
            }

            </div>

=======
>>>>>>> 473475ed1fc206a4e2e8d1ef5be008578f0f3e39
            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    @if (Model.topic.TopicId != Guid.Empty && Model.topic.TopicFile != null)
                    {
                        <button type="submit" class="btn btn-primary form-control">@_localization.Getkey("Update")</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary form-control">@_localization.Getkey("Create")</button>
                    }
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Topic" asp-action="Index" class="btn btn-outline-primary border  form-control">
                        @_localization.Getkey("Back to List")
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>

    <script>
        var loadFile = function (event) {
            var image = document.getElementById('up-file');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
<<<<<<< HEAD
=======
    </script>

    @*____________________________________*@

    <script>
       
>>>>>>> 473475ed1fc206a4e2e8d1ef5be008578f0f3e39
    </script>

   
  


    <script>

        const fileUploader = document.getElementById('file-uploader');
        const feedback = document.getElementById('feedback');
        const progress = document.getElementById('progress');

        const reader = new FileReader();

        fileUploader.addEventListener('change', (event) => {
            const files = event.target.files;
            const file = files[0];
            reader.readAsDataURL(file);

            reader.addEventListener('progress', (event) => {
                if (event.loaded && event.total) {
                    const percent = (event.loaded / event.total) * 100;
                    progress.value = percent;
                    document.getElementById('progress-label').innerHTML = Math.round(percent) + '%';

                    if (percent === 100) {
                        let msg = `<span style="color:green;">File <u><b>${file.name}</b></u> has been uploaded successfully.</span>`;
                        feedback.innerHTML = msg;
                    }
                }
            });
        });

    </script>



    @{
        <partial name="_ValidationScriptsPartial" />
    }
}