@model IEnumerable<ApplicationUser>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary-subtle ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="py-2">@_localization.Getkey("Users List")</h4>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">

            <div class="col-6 text-end">
                <a asp-area="Identity" id="register" asp-page="/Account/Register" class="btn btn-primary">

                    @* <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a> *@
                    <i class="bi bi-plus-circle"></i> @_localization.Getkey("Add New User")
                </a>
            </div>

            <div class="col-6">
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>

                <tr>
                    <th>@_localization.Getkey("Email")</th>
                    <th>@_localization.Getkey("Name")</th>
                    
                    <th>@_localization.Getkey("Roles")</th>

                </tr>

            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Email</td>
                        <td>@obj.Name</td>
                       
                        <td>@obj.Role</td>
                        <th></th>
                        <td style="width:450px;">
                            <div class="row">
                                <div class="col-3">
                                    <a asp-action="ManageRole" asp-route-userId="@obj.Id" class="btn btn-primary w-100" style="cursor:pointer">
                                        @_localization.Getkey("Roles")
                                    </a>
                                </div>

                                <div class="col-3">
                                    @if (obj.LockoutEnd == null || obj.LockoutEnd < DateTime.Now)
                                    {
                                        <form asp-action="LockUnlock" asp-route-userId="@obj.Id">
                                            <input type="submit" class="btn btn-success w-100" style="cursor:pointer" value="@_localization.Getkey("Lock")" />
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-action="LockUnlock" asp-route-userId="@obj.Id">
                                            <input type="submit" class="btn btn-warning w-100" style="cursor:pointer" value="@_localization.Getkey("UnLock")" />
                                        </form>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {

}
